amqp==2.2.2
anyjson==0.3.3
billiard==3.5.0.3
git+git://github.com/meraki-analytics/cassiopeia.git@master
celery==4.1.0
certifi==2017.11.5
datapipelines==1.0.5
decorator==4.1.2
Django==1.11.7
django-filter==1.1.0
djangorestframework==3.7.3
kombu==4.1.0
Markdown==2.6.9
git+git://github.com/meraki-analytics/merakicommons.git@master
networkx==2.0
olefile==0.44
Pillow==4.3.0
psycopg2==2.7.3.2
pycurl==7.43.0
pytz==2017.3
vine==1.1.4
